
div {background: white;
	border-radius:30px;}

ul li {list-style-image: url("../img/bullet.png");}

h1 {font-family: 'Vidaloka', serif;
	font-weight: 64px;}

h2 {font-family: 'Vidaloka', serif;}

h3 {font-family: 'Vidaloka', serif;}

body {font-family: 'Source Sans Pro', sans-serif;}

.showgrid {background: url("../img/grid-bg.png");}